{% extends "base.html" %}
{% block title %}My Cases{% endblock %}
{% block content %}
<section class="hero-section">
    <div class="container text-center">
        <h1 class="display-4 fw-bold">My Cases</h1>
        <p class="lead">Here are your cases, registered on the platform.</p>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <!-- link submit case -->
                <a href="{% url 'submit_case' %}" class="btn btn-primary left">Submit a new case</a>
                <div class="card">
                    <div class="card-body">
                        {% for case in cases %}
                            <div class="card mb-3">
                                <div class="card-body">
                                    <h5 class="card-title">{{ case.patient.first_name }} {{ case.patient.last_name }}</h5>
                                    <p class="card-text">{{ case.symptoms_description }}</p>
                                    <p class="card-text">AI: {{ case.ai_clarification }}</p>
                                    <p class="card-text">Doctor: {{ case.suggested_medication }}</p>
                                    <p class="card-text"><small class="text-muted">Added on {{ case.created_at }}</small></p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}